.recensione {
    width: 100px;
    height: 70px;
}

.commentsArea {
    width: 300px;
    height: 750px;
    overflow-y: scroll;
}

.border-comment {
    border: 1px solid black;
}

.border-comment p {
    padding-inline: 10px;
}