
.card {
    width: 300px;
    justify-content: space-between;
    box-shadow: -10px 5px 5px rgb(244, 102, 102);
    /* background-color: #171717;
    border: 2px solid black;
    color: white; */
}

.card img {
    width: 100%;
    aspect-ratio: 1/2;
    object-fit: cover;
}

.card h4 {
    padding-left: 10px;
}

.card p {
    padding-left: 10px;
}