.card {
  width: 220px;
  justify-content: space-between;
  box-shadow: -5px 5px 5px rgb(244, 102, 102);
  overflow: hidden;
}

.card img {
  width: 100%;
  aspect-ratio: 1/2;
  object-fit: cover;
}

.card h4 {
  padding-left: 10px;
}

.card p {
  padding-left: 10px;
}


.button-style {
  background: #171717;
  color: white;
  font-family: "Caveat";
  font-size: 13pt;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-left: 160px;
}

.button-style:hover {
  color: rgb(244, 102, 102);
    background: #171717;
}