.container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
   
}

.container-book {
    width: 400px;
    height: auto;
    background: #171717;
    color: white;
    border-radius: 5px;
    padding: 5px;
    
}

.imgDetail {
    width: 100%;
    object-fit: cover;
}


.allComments-container {
    width: 400px;
    height: 800px;
    background: #171717;
    color: white;
    overflow-y: scroll;
    border-radius: 5px;
}

.allComments-container h4 {
    padding-left: 10px;
}

.allComments-container::-webkit-scrollbar {
    width: 10px; 
  }

  ::-webkit-scrollbar-track {
    background: rgb(244, 102, 102); 
    border-radius: 5px;
  }

  
.allComments-container::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 5px;
  }

.singleComment-container {
  border: 1px solid rgb(255, 255, 255);
  margin-block: 5px;
  margin-inline: 10px;
  padding: 5px;
  width: 90%;
}

.spinner {
  margin-left: 40%;
}