@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap");

.footer {
  width: 100%;
  height: 60px;
  margin-top: 50px;
  background: #171717;
  color: white;
  box-shadow: 10px -5px 5px rgb(244, 102, 102);
}

.logo-footer {
  width: 200px;
}

.email-footer {
  width: 400px;
}

.email-footer button {
  width: 100px;
  border-radius: 5px;
  background: black;
}

.email-footer a {
  color: white;
  font-family: "Caveat";
  font-size: 15pt;
  text-decoration: none;
}

.email-footer a:hover {
  color: rgb(244, 102, 102);
}
